$light-gray:#d4dae5;
$lighter-gray:#f3f5f9;
$gray:#c2c9d4;
$dark-gray:#b1b8c2;
$white:#ffffff;
$green:#11a593;
$light-green:#11cab5;
$dark-green:#099282;
$pale-blue-lily:#CFECEC;
$red:#ca0505;
$dark-red:#a10909;